<% for num in 0..@addition_video_title.size-1 do %>
  <div class="card mb-3">
    <a href="/video/<%= @addition_video_id[num] %>">
      <img class="card-img-top img-fluid" src="https://object-storage.tyo1.conoha.io/v1/nc_ae525541a58a443c98717ded126b6ac3/shirobuhi_obs/uploads/<%= @addition_video_file[num] %>.jpg" alt="" style="height: 20rem;"></video>
    </a>
    <div class="card-body">
      <h4 class="card-title"><%= @addition_video_title[num] %></h4>
      <button type="button" class="btn-like" style="font-size: 1.5rem;">
        <i class="fa fa-thumbs-up"></i>
        <span class="badge badge-pill badge-secondary" id="good-num"><%= @additioal_video_data[num].get_likes_number(@additioal_video_data[num].id) %></span>
      </button>
    </div>
  </div>
<% end %>

