  <div class="content">
    <div class="col-12 mx-auto my-1 infinite-content">
    <% for num in 0..@initial_video_title.size-1 do %>
      <div class="card">
        <img class="card-img-top img-fluid" src="<%= asset_path "img_bg_top.jpg" %>" alt="" style="height: 20rem;">
        <div class="card-body">
          <h4 class="card-title"><%= @initial_video_title[num] %></h4>
          <i class="fa fa-thumbs-up" style="font-size: 1.5rem;">
            <span class="badge badge-pill badge-secondary" id="good-num">100</span>
          </i>
        </div>
      </div>
    <% end %>
    </div>
  </div>

  <%= content_for :index_pagination do %>
  <script>
    function getAdditionPath(){
      var pageNumber = (this.loadCount + 1) * 10;
      return '/page/' + pageNumber;
    }
    $('.infinite-content').infiniteScroll({
      path: getAdditionPath,
      append: '.card',
      scrollThreshold: 100,
      status: '.page-load-status',
      history: false,
    });
  </script>
  <% end %>

