  <div class="content">
    <div class="container">
      <div class="row mt-4 text-center copy-text" style="background-color: ;">
        <div class="col-10 offset-1">
          <h3>一人で守らなくて大丈夫。</h3>
        </div>
      </div>
      <hr>
      <div class="row mt-4 text-center copy-text">
        <div class="col-10 offset-1">
          <div class="mb-5">
            <h4><i class="fa fa-check mr-1"></i>セキュリティ対策動画の魅力</h4>
            <p>1分程度の動画でセキュリティ対策の方法を紹介しています。テンポの良い動画で、難しいと思われがちなセキュリティ対策を分かりやすくしています。</p>
          </div>
          <div class="mb-5">
            <h4><i class="fa fa-check mr-1"></i>セキュリティ対策へのこだわり</h4>
            <p>簡単で効果的な対策はたくさんあります。知識がない人でも興味を持ってもらえるように、実際に試したうえで紹介しています。</p>
          </div>
          <div>
            <h4><i class="fa fa-check mr-1"></i>セキュリティ対策の相談ができる</h4>
            <p>SHIROBUHIでセキュリティ対策に興味を持ち、もっと詳しく知りたいという人もいるかもしれません。そんなときは是非ご相談ください。</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row my-4">
        <%= link_to "SHIROBUHIへようこそ",home_path, class: "mx-auto btn btn-outline-primary", style: "font-size: 0.5rem;" %>
      </div>
      <hr>
      <div class="row">
        <ul>
          <li><a href="https://twitter.com/Shirobuhi_sec">Twitter</a></li>
          <li><a href="https://www.instagram.com/shirobuhi.customer">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>

