// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// navbar fixed-topを使用する場合、コンテンツと重なるのを防ぐために使用。

body{
  padding-top: 54px;
  padding-bottom: 70px;
}

// いいねボタンの数背景色
#good-num{
  background-color: #ffa500;
}

// 検索ページのタブ: active状態で背景色を変更する
.nav-item.nav-search-item.active{
  background-color: #ff7f50;
}

// search.html.erb inputタグのjquery-uiによるstyleの一部初期化
ul.tagit{
  padding: initial;
}
ul.tagit input[type="text"]{
  padding: 0 .75rem;
}

// いいねボタン
button.btn-like{
  font-size: 1.5rem;
  background-color: rgba(255, 0, 0, 0);
  border: none;
}

// コピーテキスト
.copy-text p{
  line-height: 2rem;
}

